
<div class="row">
{{#if employees}}
     {{#each employees}}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/details/{{eid}}"><img class="card-img-top" src="/profileimages/{{profileimage}}" alt="{{name}}"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/details/{{eid}}">{{name}}</a>
              </h4>           
              <p class="card-text"><span class="text-success">{{technology}}</span> <br> 
               <span class="text-info">{{email}}</span> <br> 
              {{short_desc}} <a href="/details/{{eid}}" class="link">Read More...</a>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
      {{else}}
     <p class="lead">No Employees</p>
     {{/if}}
</div>

            